$primary: #3D4967;
$black: #131313;
$mediumScreen: 1230px;
$smallScreen: 850px;
$mobileScreen: 500px;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700;800&display=swap');